body {
  background-color: #e8ecef;
  /* background-image: url(../images/lowTone.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

.centered {
  padding-top: 200px;
  text-align: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.registxt{
  text-align: center;
}
.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
